<div>
    <div class="form-group">
        <label for="userInput">User</label>
        <input class="form-control" type="text" name="userInput" id="userInput" />
    </div>
    <div class="form-group">
        <label for="messageInput">Message</label>
        <input type="text" class="form-control" name="messageInput" id="messageInput" />
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="button" value="Send" id="sendButton" />
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="button" value="Get Date plz" id="btn" onclick="alert('Hi');" />
    </div>
    <div class="form-group">
        <ul id="messageList">
        </ul>
    </div>
</div>

<script src="~/js/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>


